/* import Roboto Regular */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

html, body{
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* navigation css */

.header-area .main-menu .navbar{
  /* padding: 1rem 20rem; */
  /* background-color: #F9D271; */
  opacity: 0.8;
}

.header-area .main-menu .navbar .nav-item .nav-link{
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14.5px;;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: black;
}

.header-area .main-menu .navbar-nav a:active{
  /* background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
  /* background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* banner area */

.title-text{
  /* font: normal bold 50px/ 72px; */
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.main-area .site-banner{
  /* background: #a8c0ff;  
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  
background: linear-gradient(to right, #3f2b96, #a8c0ff);  */

background-image: url("../img/back.png");

background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .main-area .site-banner .container{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@media only screen and (min-width: 768px){
.main-area .site-banner{
  /* background: url("../img/home.png") no-repeat; */
  background-position: center;
  background-size: cover;
  /* height: 600px; */
  padding: 3rem 5rem 3rem 5rem;
  height: 100vh;
}
}

@media only screen and (max-width: 768px){
  .main-area .site-banner{
    /* background: url("../img/home.png") no-repeat; */
    background-position: center;
    background-size: cover;
    /* height: 600px; */
    padding: 2rem 1rem 0rem 1rem;
    /* height: 100vh; */
  }
  }

.main-area .site-banner .site-title h3{
  padding-top: 7rem;
  font-weight: 500;
  /* color: rgb(44, 43, 43); */
  color: white;
  font-size: 2rem;
}

.main-area .site-banner .site-title p{
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: darkgray;
  padding-top: 1rem;
}

.main-area .site-banner .site-title p b{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
}

/* .main-area .site-banner .site-title h3::after{
  content: " ";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
  color: black;
} */

@media only screen and (min-width: 460px){
.main-area .site-banner .site-title h1{
  font-size: 6rem;
  /* color: black; */
  font-weight: 800;
  color: white;
}
}

@media only screen and (max-width: 460px){
  .main-area .site-banner .site-title h1{
    font-size: 5rem;
    /* color: black; */
    font-weight: 600;
    color: white;
  }
}

@media only screen and (min-width: 460px){
.main-area .site-banner .site-title h4{
  /* font-size: 1.5rem; */
  /* color: rgb(44, 43, 43); */
  font-weight: 700;
  /* font-size: 30px; */
  font-size: 2rem;
  /* color: white; */
  color:black;
}
}

@media only screen and (max-width: 460px){
  .main-area .site-banner .site-title h4{
    /* font-size: 1.5rem; */
    /* color: rgb(44, 43, 43); */
    font-weight: 600;
    /* font-size: 30px; */
    font-size: 1.8rem;
    /* color: white; */
    color:black;
  }
  }

.button{
  padding: .8rem 2.2rem;
  font: normal 500 16px/20px;
  position: relative;
  border: 5px solid;
  /* border-radius: 10px; */
  font-weight: 600;
}

.button.primary-button,  .button.secondary-button{
  margin: 15px;
}

.button.primary-button, .button.secondary-button{
  /* background: linear-gradient(90deg, #4458dc 0%, #854fee 100%); */
  /* background: #b0f1f1; */
  background-clip: padding-box;
  /* color: black; */
  color: white;
  border-color: white;
  transition: background .6s ease;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.button.primary-button:hover, .button.secondary-button:hover{
  /* background: whitesmoke; */
  background-clip: padding-box;
  /* color: #854fee; */
  color: black;
  /* border-color: #854fee; */
  border-color: black;
}

.button.primary-button::after, .button.secondary-button::after{
  position: absolute;
  top: -2px; left: -2px;
  bottom: -2px;  right: -2px;
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: ' ';
  z-index: -1;
  border-radius: 4px;
}

/* .button.secondary-button{
  background: white;
  background-clip: padding-box;
  transition: background .6s ease;
} */

/* .button.secondary-button:hover{
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  color: whitesmoke;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
} */



/* about-area */

/* .main-area .about-area{
  background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
background: linear-gradient(to right, #2c3e50, #bdc3c7);
} */

@media only screen and (min-width: 768px) {
  .main-area .about-area{
    /* height: 100vh; */
    padding: 4rem 5rem 4rem 5rem;
    text-align: center;
  }
  }

@media only screen and (max-width: 768px) {
  .main-area .about-area {
    /* height: 700px; */
    padding: 4rem 1rem 4rem 1rem;
    text-align: center;
    /* padding: auto; */
  }
  }

.main-area .about-area .about-content h1{
  font-size: 50px;
}

.main-area .about-area .about-content p{
  padding-top: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: large;
  color: grey;
}

.main-area .about-area .about-content img{
  margin-top: 1rem;
  height: 150px;
  width: 150px;
  border-radius: 350px;
}

/* skills-area */

/* .main-area .skills-area{
  background: #2980B9; 
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA); 
} */

@media only screen and (min-width: 768px) {
  .main-area .skills-area {
    /* height: 700px; */
    padding: 4rem 5rem 4rem 5rem;
    /* padding: auto; */
  }
  }

@media only screen and (max-width: 768px) {
  .main-area .skills-area {
    /* height: 700px; */
    padding: 4rem 0.5rem 4rem 0.5rem;
    /* padding: auto; */
  }
  }

.main-area .skills-area .first{
  padding-top: 2rem;
}

.main-area .skills-area h1{
  font-size: 50px;
  text-align: center;
}

.main-area .skills-area .skill-icons{
  margin: 15px 15px 5px 15px;
  width: 60px;
  height: 60px;
}

.main-area .skills-area td{
  margin-top: 15px;
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: grey;
}

@media only screen and (max-width: 500px){
  .main-area .skills-area td{
    margin-top: 15px;
    font-family: "Nunito", sans-serif;
    font-size: small;
    /* font-weight: 100; */
    color: grey;
  }
}

/* projects-area */

.main-area .project-area{
  background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff009998, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 768px) {
  .main-area .project-area {
    /* height: 700px; */
    padding: 4rem 5rem 4rem 5rem;
    /* padding: auto; */
  }
  }

  @media only screen and (max-width: 768px) {
    .main-area .project-area {
      /* height: 700px; */
      padding: 4rem 1rem 4rem 1rem;
      /* padding: auto; */
    }
    }

    .main-area .project-area .projects .title h1{
      font-size: 50px;
    }

.main-area .project-area h3{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.main-area .project-area .projects img{
  width: 90%;
}

.main-area .project-area .projects p{
  color: gray;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.main-area .project-area .projects .first, .main-area .project-area .projects .second, .main-area .project-area .projects .third{
  padding-top: 3rem;
}

@media only screen and (max-width: 992px){
  .main-area .project-area .projects .first h3, .main-area .project-area .projects .second h3, .main-area .project-area .projects .third h3{
    padding-top: 1rem;
  }
}

.main-area .project-area .projects .project-links a{
  text-decoration: none;
  background-size: auto;
  background-color: transparent;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  /* border: 2px; */
}

.main-area .project-area .projects .project-links a:hover{
  /* text-decoration: none;
  background-size: auto;
  background-color: grey;
  padding: 10px;
  color: white;
  border-radius: 5px; */
  background-color: black;
  color: white;
}

/* follow area */

@media only screen and (max-width: 600px) {
  .main-area .follow-area {
    /* height: 700px; */
    /* padding: 4rem 5rem 0rem 5rem; */
    /* padding: 0rem; */
  }

  .main-area .follow-area .buttons{
    padding: 0rem;
  }
}

@media only screen and (min-width: 600px) {
  .main-area .follow-area {
    /* height: 700px; */
    /* padding: 4rem 5rem 0rem 5rem; */
    /* padding: 0rem; */
  }
}

.main-area .follow-area {
  /* height: 700px; */
  /* padding: 4rem 5rem 0rem 5rem; */
  padding: 3rem;
}

@media only screen and (min-width: 768px) {
.main-area .follow-area .buttons{
  padding: 1rem 10rem;
}
}

@media only screen and (max-width: 768px) {
  .main-area .follow-area .buttons{
    padding: 1rem 4rem;
  }
  }

  @media only screen and (max-width: 388px) {
    .main-area .follow-area .buttons{
      padding: 1rem 0rem;
    }
    }

.main-area .follow-area .follow .title .title-text{
  text-align: center;
  font-size: 50px;
}

@media only screen and (min-width: 768px){
.main-area .follow-area .buttons img{
  /* padding: 18px; */
  /* font-size: 5px; */
  /* text-align: center; */
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  /* text-decoration: none; */
  margin: 20px 10px;
  /* border-radius: 50%; */
}
}

@media only screen and (max-width: 768px){
  .main-area .follow-area .buttons img{
    /* padding: 18px; */
    /* font-size: 5px; */
    /* text-align: center; */
    width: 35px;
    height: 35px;
    /* padding: 10px; */
    /* text-decoration: none; */
    margin: 20px 10px;
    /* border-radius: 50%; */
  }
  }

.main-area .follow-area .buttons img:hover {
  opacity: 0.7;
}

.main-area .follow-area .buttons a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.main-area .follow-area .buttons td{
  text-decoration: none;
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.main-area .follow-area .buttons .email{
  text-decoration: none;
  font-size: 15px;
  color: darkgray;
  font-weight: 200;
  font-family: "Nunito", sans-serif;
}

/* footer area */

footer{
  text-align: center;
  color: black;
  background-color: #b0f1f1;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}